a.a_tag_link {
  border-radius: 0;
  color: #333e48;
  border-bottom: 1px solid #ecedf2;
  padding: 0.6rem 0 0.6rem;
  display: block;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  list-style: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333e48;
  text-align: left;
  background-color: #fff;
}

body {
  background-color: #fff;
}

h3.profile_details {
  font-size: 18px;
  font-weight: bolder !important;
  line-height: 1.5;
  color: #333e48;
  text-align: left;
  background-color: #fff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.details_edit_btn {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #ecedf2;
}

span.profile_details_span {
  border-bottom: 2px solid #fed700;
  padding-bottom: 19px;
  font-size: 18px;
}

span.profile_details_span1 {
  border-bottom: 2px solid #fed700;
  padding-bottom: 12px;
  font-size: 18px;
}

.table-striped-columns > :not(caption) > tr > :nth-child(2n) {
  --bs-table-accent-bg: #fff !important;
}

button.profile_edit_btn {
  cursor: pointer;
  color: #333e48;
  background-color: #fed700;
  border-color: #fed700;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  display: inline-block;
  font-weight: 700;
  color: #333e48;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background-color: transparent; */
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 1.4rem;
  transition: all 0.2s ease-in-out;
}

th.th_profile_details {
  width: 50%;
}

.nav_profile_edit.container {
  margin-left: -12px;
}

.enter_input_div11 {
  margin-top: 30px;
}

label.name_label11 {
  display: block;
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

span.star_span11 {
  color: #ff0000;
  font-size: 16px;
  font-size: 0.875rem;
  font-weight: 700 !important;
}

input.enter_input_box11 {
  display: block;
  width: 50%;
  height: calc(1.5em + 1.34rem + 2px);
  padding: 0.67rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #818181;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ddd;
  border-radius: 1.4rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.save_profile_edit_btn {
  cursor: pointer;
  color: #333e48;
  background-color: #fed700;
  border-color: #fed700;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 50%;
  font-weight: 700;
  color: #333e48;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 1.4rem;
  transition: all 0.2s ease-in-out;
}

.cancel_profile_edit_btn {
  cursor: pointer;
  color: #333e48;
  background-color: transparent;
  border-color: #333e48;
  background-color: transparent;
  border: 1px solid #333e48;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 50%;
  font-weight: 700;
  color: #333e48;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* border: 1px solid transparent; */
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 1.4rem;
  transition: all 0.2s ease-in-out;
}

button.save_profile_edit_btn:hover,
.cancel_profile_edit_btn:hover {
  color: #fff !important;
  background-color: #333e48;
  border-color: #333e48;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: 50%;
  display: inline-block;
  font-weight: 700;
  color: #333e48;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background-color: transparent; */
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 1.4rem;
  transition: all 0.2s ease-in-out;
}

/* .gender_profile_div {
  display: block;
  width: 50%;
  height: calc(1.5em + 1.34rem + 2px);
  padding: 0.67rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #818181;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ddd;
  border-radius: 1.4rem;
} */

button.group_btn.btn.btn-primary {
  width: 100%;
  height: calc(1.5em + 1.34rem + 2px);
  padding: 0.67rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #818181;
  background-color: #fff;
  /* background-clip: padding-box; */
  border: 1px solid #ddd;
  padding: 0px 115px;
  margin-top: 36px;
  border-radius: 26px 2px 9px 26px;
}

button.group_btn1.btn.btn-primary {
  width: 100%;
  height: calc(1.5em + 1.34rem + 2px);
  padding: 0.67rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #818181;
  background-color: #fff;
  /* background-clip: padding-box; */
  border: 1px solid #ddd;
  padding: 0px 100px;
  margin-top: 36px;
  border-radius: 0px 26px 26px 5px;
}

.btn-primary {
  --bs-btn-color: black !important;
  --bs-btn-bg: white !important;
  --bs-btn-border-color: black !important;
}

.tick_enable {
  visibility: visible !important;
}

.tick_disable {
  visibility: hidden !important;
}
