.slider_carousel {
  height: 80px !important;
}

/* .slider_carousel:hover {
  filter: grayscale(1);
} */

/* .gray_scale:hover {
  filter: grayscale(1);
  width: fit-content;
} */

li.react-multi-carousel-item.react-multi-carousel-item--active {
  border-right: 1px solid white;
}

/* .gray_scale {
  border-right: 1px solid white;
} */

/* .slider_icon_div {
  position: relative;
  background-color: black;
} */

.slider_carousel_div {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.kohinoor_since_line {
  font-size: 16px;
  line-height: 1.7;
  text-align: center !important;
  color: white !important;
  background-color: black;
  font-size: 17px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
}

h4.why_kohinoor_offer {
  margin: 15px 0 0;
  font-size: 14px;
  line-height: 20px;
  transition: 0.3s;
  font-weight: 500;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: black;
  color: #fed700;
}

.slider_icon_div {
  /* display: flex !important;
  align-items: center !important;
  justify-content: center !important; */
}

/* h4.why_kohinoor_offer:hover {
  transition: transform 0.4s;
  transform: scale(1.1);
  color: white !important;
} */

.grayscale_hover {
  border-right: 1px solid #e7eaf3 !important;
  height: 117px;
  margin-bottom: 30px;
  width: 300px;
}

/* .grayscale:hover {
  transition: transform 0.4s;
  transform: scale(1.1);
  color: white !important;
  filter: grayscale(1);
  width: fit-content;
} */

.grayscale_hover:hover {
  transition: transform 0.4s;
  transform: scale(1);
  color: white !important;
  filter: grayscale(1);
}

.gray_scale {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right1 {
  background-color: black !important;
}

img.slider_carousel {
  height: 60px !important;
  width: 60px;
}

element.style {
  flex: 1 1 auto;
  position: relative;
  width: 215px !important;
}

li.react-multi-carousel-item.react-multi-carousel-item--active {
  width: 215px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_width {
  width: 215px !important;
}

.ad_div {
  padding: 30px 0px;
}

.first_ad {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_ad_img1 {
  width: 45%;
  height: 330px;
  margin: 0px 10px;
}

.first_ad_img2 {
  width: 25%;
  height: 330px;
  margin: 0px 10px;
}

.second_ad_img1 {
  width: 25%;
  height: 330px;
  margin: 20px 10px;
}

.second_ad_img2 {
  width: 45%;
  height: 330px;
  margin: 20px 10px;
}

.react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 1500px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.react-multiple-carousel__arrow--right::before {
  content: "\e825";
  background-color: #0061e0;
  border-radius: 50%;
}

.react-multiple-carousel__arrow--left::before {
  content: "\e824";
  background-color: #0061e0;
  border-radius: 50%;
}

/* .slider_carousel:hover {
  transition: transform 0.4s;
  transform: scale(1.1); 
  color: white !important;
} */

.h4 {
  color: #efc340 !important;
  font-size: 15px !important;
}

.headphone_ad_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  /* box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%); */
}

.headphone_img {
  height: 312px;
  width: 100%;
  display: block;
  /* height: auto; */
  /* width: 100%; */
  position: relative;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0 0 10px #dee2e6;
  margin: 5px 0;
}

.headphones_img_div {
  margin: 25px 20px;
}

.new_arrival_bar1 {
  font-size: 25px;
}

.new_arrival_bar1:active {
  color: white !important;
  background: 0 0;
  font-weight: 600;
  border-bottom-style: solid;
  /* border-bottom: 2px solid #efc340; */
  border-radius: 0;
}

a.new_arrival_bar1.nav-link:hover {
  border-bottom-style: solid;
}

.new_arrival_bar {
  font-size: 25px;
}

/* .new_arrival_bar:active {
  color: white !important;
  background: 0 0;
  font-weight: 600;
  border-bottom-style: solid;
  border-radius: 0;
}

a.new_arrival_bar.nav-link:hover {
  border-bottom-style: solid;
} */

.image_offer {
  height: 200px;
  width: 250px;
  align-items: center;
}

.heart_end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 15px;
}

.heart {
  height: 18px;
  width: 18px;
  margin-left: 5px;
  margin-top: -2px;
}

.heart_round {
  height: 30px;
  width: 30px;
  line-height: 30px;
  position: relative;
  vertical-align: middle;
  border: 1px solid #eee;
  border-radius: 50%;
  margin-left: 5px;
}

.card_img_div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 55%;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.image_offer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  width: auto !important;
}

#product_name {
  display: "-webkit-box";
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 600;
  margin-bottom: 5px;
  min-height: 2.25rem;
  color: #0062bd;
}

#joy_price {
  font-size: 0.875rem;
  margin: 0;
  color: black;
  font-weight: 600;
}

#product_price {
  margin-bottom: 0;
  margin-right: 5px;
  font-size: 1.25038rem;
  color: #0061e0;
}

.offer_percent {
  min-width: 35px;
  background: #e00;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 2px 10px;
  line-height: 20px;
  font-size: 12px;
  border-radius: 18px;
}

#mrp_small_text {
  bottom: 0;
  font-size: 12px;
  margin-bottom: 0px;
}

.product_footer_item {
  background: 0 0;
  border: 0;
  outline: 0;
  font-size: 0.81288rem;
  padding: 0;
  transition: 0.5s;
}

#card_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e7eaf3 !important;
  padding-top: 7px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.text_danger {
  color: #dc3545 !important;
  font-size: 12px;
}

.product_card {
  padding: 10px 0;
}

.product_inner_item {
  border-radius: 0.8rem;
  padding: 15px;
  position: relative;
}

.main_card {
  width: 351.5px;
  margin-left: 100px;
  margin-top: 100px;
  border-radius: 20px;
  border: none;
  border-right: 1px solid #e7eaf3 !important;
}

.main_card:hover {
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
  border-right: 1px solid #e7eaf3 !important;
}

.wrap_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 15px;
  height: fit-content;
}

.top_brands_text {
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-size: 1.6rem;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  padding: 0 0 5px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.react-multi-carousel-list {
  display: flex;
  align-items: center;
  width: 1500px;
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
}

.react-multiple-carousel__arrow {
  background: white !important;
}

button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  top: 50% !important;
  right: 0px !important;
}

button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  top: 50%;
  left: 0;
}

li.react-multi-carousel-item.react-multi-carousel-item--active {
  width: 351.5px !important;
}

/* .card_body,
.card_img_div {
  border-right: 1px solid gray;
} */

.why_kohinoor_div {
  background-color: black;
  margin-top: 100px;
}

.why_kohinoor {
  text-align: center;
  padding: 30px 0px;
  color: white;
  line-height: 0.8;
}

.h2_kohinoor {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 2.2;
}

.top_brand_img {
  width: 192.286px;
  margin-right: 10px;
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 0 8px 4px hsl(0deg 0% 78% / 21%);
  background: #fff;
  width: 150px;
  height: 150px;
  position: relative;
  margin: 10px auto;
  padding: 0 15px;
  display: flex !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_brands_div {
  padding: 50px;
}

.img_div {
  width: 120px;
  height: 90px;
}

.iframe_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.iframe_sidenav {
  width: 220px;
  background-color: black;
  height: 659px;
  margin-top: -8px;
}

.iframe_button {
  color: white;
  display: block;
  width: 100%;
  border-radius: 0px;
  background-color: black;
  height: 80px;
}

.yellow_img {
  margin-right: auto !important;
  margin-left: auto !important;
  height: 180px;
  /* width: 1200px; */
}

.container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center !important;
  justify-content: space-around !important;
}

.new_arrival_bar_button {
  background-color: transparent !important;
  color: #efc340 !important;
  border-radius: 15px !important;
  font-size: 25px;
  border: 1px solid #efc340;
  font-weight: 600;
  border: 2px solid !important;
  font-size: 16px;
  padding: 0.25rem 1rem;
  line-height: 22px;
  border-radius: 30px;
  text-transform: uppercase;
  height: 32px;
}

.yellow_img_btn {
  border-radius: 20px;
  font-weight: 600;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  transition: 0.5s;
  color: black;
  border: 2px solid #fed700;
  background-color: transparent !important;
}

.yellow_btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Video Carousel */
