li.react-multi-carousel-item.react-multi-carousel-item--active {
  /* width: 200px !important; */
}

.slider_carousel {
  height: 80px !important;
}

.slider_icon_div {
  position: relative;
  background-color: black;
}

.slider_carousel_div {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ad_div {
  padding: 30px 0px;
}

.first_ad {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_ad_img1 {
  width: 45%;
  height: 330px;
  margin: 0px 10px;
}

.first_ad_img2 {
  width: 25%;
  height: 330px;
  margin: 0px 10px;
}

.second_ad_img1 {
  width: 25%;
  height: 330px;
  margin: 20px 10px;
}

.second_ad_img2 {
  width: 45%;
  height: 330px;
  margin: 20px 10px;
}

.react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 1500px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.react-multiple-carousel__arrow--right::before {
  content: "\e825";
  background-color: #0061e0;
  border-radius: 50%;
}

.react-multiple-carousel__arrow--left::before {
  content: "\e824";
  background-color: #0061e0;
  border-radius: 50%;
}

.slider_carousel:hover {
  transition: transform 0.4s;
  transform: scale(1.1); /* (150% zoom)*/
  color: white !important;
}

.h4 {
  color: #efc340 !important;
  font-size: 15px !important;
}

.headphone_ad_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  /* box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%); */
}

.headphone_img {
  height: 312px;
  width: 100%;
  display: block;
  /* height: auto; */
  /* width: 100%; */
  position: relative;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0 0 10px #dee2e6;
  margin: 5px 0;
}

.headphones_img_div {
  margin: 25px 20px;
}

.new_arrival_bar {
  font-size: 25px;
}

.new_arrival_bar:active {
  color: white !important;
  background: 0 0;
  font-weight: 600;
  border-bottom: 2px solid #efc340;
  border-radius: 0;
}

.image_offer {
  height: 200px;
  width: 250px;
  align-items: center;
}

.heart {
  height: 18px;
  width: 18px;
}

.heart_round {
  height: 30px;
  width: 30px;
  line-height: 30px;
  position: relative;
  vertical-align: middle;
  border: 1px solid #eee;
  border-radius: 50%;
  margin-left: 5px;
}
