/* #nav_right_align {
  display: flex;
  justify-content: flex-end !important;
} */

.nav_sub {
  background-color: #0061e0 !important;
  height: 35px;
}

.nav_right_align.container {
  display: flex !important;
  justify-content: flex-end !important;
}
a.nav-link {
  color: #efc340 !important;
  /* border-right: 3px solid #ffd700; */
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
li {
  padding: 0px;
}
.store_locator {
  height: 17px;
  width: 17px;
  background-color: transparent;
  fill: #0275d8;
  color: #efc340 !important;
}
.line {
  border-right: 2px solid white;
}

nav.navbar.navbar-expand.navbar-dark.bg-primary {
  margin: 0px;
  padding: 0px;
}

label {
  display: flex;
  position: relative;
  /* margin-bottom: 2rem; */
}

.search_input {
  width: 800px;
  height: 50px;
  border-radius: 30px;
  padding: 16px;
  padding-right: 40px;
  font-size: 16px;
  border-color: white;
  background-color: transparent;
  /* text-overflow: ellipsis; */
}

#icon {
  position: absolute;
  right: 12px;
  top: 16px;
  width: 24px;
  height: 24px;
}

.welcome_sidebar_div,
.login_manage {
  text-align: center;
}

.offcanvas-title {
  margin-bottom: 0;
  line-height: 1.5;
  text-align: center !;
  font-weight: 400;
  font-size: 1.5rem !important;
  line-height: 1.5;
  margin-top: 0;
  text-align: center !important;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.009rem;
  color: #333e48;
}

button.btn-close {
  /* margin-top: 20px; */
  padding: 0px 3rem !important;
  padding-top: 1.5rem !important;
  align-items: center !important;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333e48;
  text-align: left;
  background-color: #fff;
}

.user_icon {
  /* border: 2px solid red; */
  padding: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.input_user_icon {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

button.user_icon {
  font-size: 0.76562rem;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.85rem 1rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8c98a4;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #d5dae2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.009rem;
}

input#example-search-input {
  /* display: block; */
  width: 78%;
  height: calc(1em + 1.34rem + 2px);
  padding: 1.3rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #818181;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ddd;
  /* border-radius: 1.4rem; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input_user_icon:hover {
  border-color: #66afe9 !important;
}

.forget_password {
  color: #0062bd !important;
  border-bottom: 1px dashed #97a4af;
  text-decoration: none;
  background-color: transparent;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.76rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #333e48; */
  float: right !important;
  background-color: #fff;
}
.input_user_icon:active {
  border-color: #66afe9 !important;
}

span.input-group-append {
  margin-left: 20px;
}

button.login_btn.btn.btn-primary {
  background: #0061e0 !important;
  transition: all 0.2s ease-in-out;
  color: #fff !important;
  display: block;
  width: 100%;
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 1.3rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 90%;
  margin-left: 20px;
  margin-top: 35px;
}

button.login_btn.btn.btn-primary:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

span.or_tag {
  color: #8c98a4;
  font-size: 0.65625rem;
  position: relative;
  display: inline-block;
  margin-bottom: 0.5rem !important;
  text-align: center !important;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 10px;
}

.solid {
  /* color: #8c98a4; */
  width: 20px;
  margin-right: 5px;
  border: 1.2px solid #8c98a4;
}

.or_div {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.request_btn.btn.btn-primary {
  background: transparent;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 100%;
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 1.3rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 90%;
  margin-left: 20px;
  margin-top: 10px;
  border-color: #8c98a4;
  font-size: 0.65625rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  color: #333e48;
  background-color: #fff;
  text-align: center !important;
}

button.request_btn.btn.btn-primary:hover {
  color: #fff;
  background-color: #333e48;
  border-color: #333e48;
}

.do_not_have_account_div {
  text-align: center !important;
  margin-bottom: 1.5rem !important;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333e48;
  margin-top: 10px;
}

a.signup_link {
  color: #0062ba !important;
  font-size: 80%;
  font-weight: 400;
  text-align: center !important;
  line-height: 1.5;
}

button.facebook_btn.btn.btn-primary {
  cursor: pointer;
  color: #3b5998;
  transition: all 0.2s ease-in-out;
  background: rgba(59, 89, 152, 0.1);
  border-color: transparent;
  margin-right: 0.25rem !important;
  display: block;
  width: 50%;
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 1.3rem;
  font-weight: bold;
}

button.facebook_btn.btn.btn-primary:hover {
  color: #fff;
  background: #3b5998;
  box-shadow: 0 4px 11px rgb(59 89 152 / 35%);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

button.google_btn.btn.btn-primary {
  cursor: pointer;
  color: #d14130;
  transition: all 0.2s ease-in-out;
  background: rgba(209, 65, 48, 0.1);
  border-color: transparent;
  margin-left: 0.25rem !important;
  display: block;
  width: 50%;
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 1.3rem;
  font-weight: bold;
}

button.google_btn.btn.btn-primary:hover {
  color: #fff;
  background: #d14130;
  box-shadow: 0 4px 11px rgb(209 65 48 / 35%);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
