/* #nav_right_align {
  display: flex;
  justify-content: flex-end !important;
} */

ul.sub_nav_ul {
  font-size: 12px;
  /* margin-top: 30px; */
}

li.sub_nav_li {
  display: flex;
  align-items: center;
}

div#responsive-navbar-nav {
  display: flex !important;
  align-items: flex-end;
  flex-basis: auto;
  justify-content: flex-end;
}

nav.navbar.navbar-expand-sm.navbar-dark.bg-dark {
  background-color: #0061e0 !important;
}

.mr-auto.nav_flex.navbar-nav {
  font-size: 13px;
}

a.border_right.nav-link {
  padding: 0;
  border-right: 1px solid #fed700;
}
/* .navigation_main.navbar-nav {
  width: 640px;
} */
.navigation_main.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_sub {
  background-color: #0061e0 !important;
  height: 35px;
}

.nav_right_align.container {
  display: flex !important;
  justify-content: flex-end !important;
  padding-right: 10px;
  margin-right: 10px;
  position: relative;
  font-weight: 400;
  line-height: 1.5;
}
a.nav-link {
  color: #efc340 !important;
  /* border-right: 3px solid #ffd700; */
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
li {
  padding: 0px;
}
.store_locator {
  height: 17px;
  width: 17px;
  background-color: transparent;
  fill: #0275d8;
  color: #efc340 !important;
  margin-right: 3px;
  margin-bottom: 3px;
}
/* .line {
  border-right: 2px solid white;
} */

nav.navbar.navbar-expand.navbar-dark.bg-primary {
  margin: 0px;
  padding: 0px;
}

label {
  display: flex;
  position: relative;
  /* margin-bottom: 2rem; */
}

.search_input {
  width: 800px;
  height: 50px;
  border-radius: 30px;
  padding: 16px;
  padding-right: 40px;
  font-size: 16px;
  border-color: white;
  background-color: transparent;
  /* text-overflow: ellipsis; */
}

#icon {
  position: absolute;
  right: 12px;
  top: 14px;
  width: 24px;
  height: 24px;
}

.welcome_sidebar_div,
.login_manage {
  text-align: center;
}

.offcanvas-title {
  margin-bottom: 0;
  line-height: 1.5;
  text-align: center !;
  font-weight: 400;
  font-size: 1.5rem !important;
  line-height: 1.5;
  margin-top: 0;
  text-align: center !important;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.009rem;
  color: #333e48;
}

button.btn-close {
  /* margin-top: 20px; */
  padding: 0px 3rem !important;
  padding-top: 1.5rem !important;
  align-items: center !important;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333e48;
  text-align: left;
  background-color: #fff;
}

.user_icon {
  /* border: 2px solid red; */
  padding: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.input_user_icon {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

button.user_icon {
  font-size: 0.76562rem;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.85rem 1rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8c98a4;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #d5dae2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.009rem;
}

input#example-search-input {
  /* display: block; */
  width: 78%;
  height: calc(1em + 1.34rem + 2px);
  padding: 1.3rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #818181;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ddd;
  /* border-radius: 1.4rem; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input_user_icon:hover {
  border-color: #66afe9 !important;
}

.forget_password {
  color: #0062bd !important;
  border-bottom: 1px dashed #97a4af;
  text-decoration: none;
  background-color: transparent;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.76rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #333e48; */
  float: right !important;
  background-color: #fff;
}
.input_user_icon:active {
  border-color: #66afe9 !important;
}

span.input-group-append {
  margin-left: 20px;
}

button.login_btn.btn.btn-primary {
  background: #0061e0 !important;
  transition: all 0.2s ease-in-out;
  color: #fff !important;
  display: block;
  width: 100%;
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 1.3rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 90%;
  margin-left: 20px;
  margin-top: 35px;
}

button.login_btn.btn.btn-primary:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

span.or_tag {
  color: #8c98a4;
  font-size: 0.65625rem;
  position: relative;
  display: inline-block;
  margin-bottom: 0.5rem !important;
  text-align: center !important;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 10px;
}

.solid {
  /* color: #8c98a4; */
  width: 20px;
  margin-right: 5px;
  border: 1.2px solid #8c98a4;
}

.or_div {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.request_btn.btn.btn-primary,
button.request_btn_modal.btn.btn-primary {
  background: transparent;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 100%;
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 1.3rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 90%;
  margin-left: 20px;
  margin-top: 10px;
  border-color: #8c98a4;
  font-size: 0.65625rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  color: #333e48;
  background-color: #fff;
  text-align: center !important;
}

button.request_btn.btn.btn-primary:hover {
  color: #fff;
  background-color: #333e48;
  border-color: #333e48;
}

.do_not_have_account_div {
  text-align: center !important;
  margin-bottom: 1.5rem !important;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333e48;
  margin-top: 10px;
}

a.signup_link {
  color: #0062ba !important;
  font-size: 80%;
  font-weight: 400;
  text-align: center !important;
  line-height: 1.5;
}

button.facebook_btn.btn.btn-primary {
  cursor: pointer;
  color: #3b5998;
  transition: all 0.2s ease-in-out;
  background: rgba(59, 89, 152, 0.1);
  border-color: transparent;
  margin-right: 0.25rem !important;
  display: block;
  width: 50%;
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 1.3rem;
  font-weight: bold;
}

button.facebook_btn.btn.btn-primary:hover {
  color: #fff;
  background: #3b5998;
  box-shadow: 0 4px 11px rgb(59 89 152 / 35%);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

button.google_btn.btn.btn-primary {
  cursor: pointer;
  color: #d14130;
  transition: all 0.2s ease-in-out;
  background: rgba(209, 65, 48, 0.1);
  border-color: transparent;
  margin-left: 0.25rem !important;
  display: block;
  width: 50%;
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 1.3rem;
  font-weight: bold;
}

button.google_btn.btn.btn-primary:hover {
  color: #fff;
  background: #d14130;
  box-shadow: 0 4px 11px rgb(209 65 48 / 35%);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0px !important;
}

.blue_column {
  background-color: #0061e0;
  padding: 40px 20px;
  color: white;
  width: 39.333333% !important;
}

.form_column {
  padding: 0px;
}

.modal-dialog {
  padding: 0px !important;
  border-radius: 0px !important;
}

.back_blue {
  background-color: #0061e0 !important;
  color: white;
  font-size: 18px;
  margin-top: 16px;
  line-height: 150%;
}

.img_modal {
  background-color: #0061e0 !important;
  display: block;
  overflow: hidden;
  padding: 40px 20px;
  background-image: url("https://d203rnyfn54hc2.cloudfront.net/image/login_img.png");
  background-position: center 85%;
  background-repeat: no-repeat;
  position: relative;
  min-height: 347px;
}

.form_column_modal.col-8 {
  width: 57.666667% !important;
  margin-top: 53px !important;
}

.forget_password_div {
  padding-right: 20px !important;
}

.welcome_modal {
  background-color: #0061e0 !important;
  color: white;
  font-size: 28px;
  font-weight: 500;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 35% !important;
    /* max-width: var(--bs-modal-width); */
    margin-right: auto;
    margin-left: auto;
  }
}

button.request_btn_modal.btn.btn-primary {
  border: 2px solid black;
}

div#social_link_modal {
  width: 337px !important;
  margin-left: 20px !important;
}

.welcome_modal_div {
  padding: 13px 10px;
}

h4.back_blue {
  font-weight: 200 !important;
}

.modal-content {
  border-radius: 0px !important;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 13px;
  padding-left: 37px;
  min-width: 40px;
}

.input_with_icon {
  padding-left: 57px;
  width: 89%;
  height: 44px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #818181;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ddd;
  border-radius: 1.4rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: 20px;
}

.line_vr {
  border-right: 1px solid #818181;
  height: 26px;
  position: absolute;
  left: 50%;
  margin-top: 9px;
}

.line_vr1 {
  border-right: 1px solid #818181;
  height: 43px;
  position: absolute;
  left: 20%;
}

/* .input-icons:focus {
  border: 1px solid #0062bd !important;
} */

.input_with_icon :focus {
  border: 1px solid #0062bd !important;
}

p.close_btn_modal {
  color: white !important;
  font-size: 32px;
  margin-top: -64px;
  margin-left: 408px;
  cursor: pointer;
}
