.prod_img_div {
  height: 100px;
  width: 100px;
}

.prod_img_div:hover {
  border: 1px solid blue;
}

.prod_img {
  height: 100%;
  width: 100%;
}

.prod_div_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.prod_zoom_img {
  height: 369.656px;
  width: 308.656px;
}
