#icon1 {
  position: absolute;
  padding: 9px 12px;
  /* width: 116px; */
  height: 30px;
  background-color: transparent;
  color: #efc340;
  border: none;
  margin-left: 0px;
  /* border-right: 3px solid white; */
}

.search_input::placeholder {
  color: #efc340;
  padding-left: 130px;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center !important;
  justify-content: center !important;
}

a.customer_care_link.nav-link,
a.my_cart_link.nav-link {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

button#dropdown-basic_main_navbar {
  background-color: #212121;
  border: #212121;
  color: #fed700;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.line_vr_main_nav {
  border-right: 3px solid white;
  height: 22px;
  position: absolute;
  left: 20%;
  top: 15px;
}

.search_input_main_nav {
  width: 800px;
  height: 50px;
  border-radius: 30px;
  padding: 16px;
  /* padding-right: 66px; */
  padding-left: 177px;
  font-size: 16px;
  border-color: white;
  background-color: transparent;
  color: #fed700;
  /* text-overflow: ellipsis; */
}

.search_input_main_nav::placeholder {
  color: #fed700;
}

a.drop_items_main_nav.dropdown-item {
  border-bottom: 1px solid #e9ecef;
}

a.drop_items_main_nav.dropdown-item:last-child {
  border-bottom: none !important;
}

.drop_menu_items_main_nav.dropdown-menu.show {
  top: 46.5px;
  border-radius: 0px !important;
}

.side_dropdown_main_nav {
  height: 400px;
  width: 75%;
  color: black;
  float: roght;
  float: right;
  margin-right: 4%;
  border-radius: 10px !important;
  padding: 0 0 0 15px;
  background: #f8f9fa !important;
}

h6.bluetooth_speakers_h6 {
  color: #0061e0;
  font-size: 14px;
  position: relative;
  font-weight: 500;
  line-height: 1.2;
  padding-left: 13px;
}

ul.sub_dropdown_ul {
  display: block;
  justify-content: flex-start;
  list-style-type: circle;
}

.first_col_dropdown_sub_main_nav.col-3 {
  padding: 15px 0;
  width: 24.5% !important;
}

hr.underline_yellow_mainNav_dropdown {
  border-top: 2px solid #ffc107;
  margin: 0px;
  margin-bottom: 8px;
  margin-left: 13px;
}

li.mainNav_li {
  font-size: 0.92rem;
}

.mainNav_li::marker {
  color: #0061e0;
  font-size: 15px;
}

li.mainNav_li2 {
  visibility: hidden;
  font-size: 0.92rem;
}

img.image_dropdown_mainNav {
  height: 370px;
}

.last_col_dropdown_sub_main_nav.col-3 {
  /* height: 370px; */
  width: 22.55% !important;
}

button.mainNav_viewAll {
  font-size: 14px;
  color: #0061e0;
  font-weight: 600;
  border: none;
  background-color: transparent;
  margin-left: -82px;
}

.col-3 {
  flex: 0 0 auto;
  width: 22.5% !important;
}
